<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="color-scheme" content="dark" />

    <link rel="stylesheet" href="/styles/onironautes.css?v13" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lato&display=swap"
    />

    <link
      rel="icon"
      href="data:image/svg+xml,&lt;svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22&gt;&lt;text y=%22.9em%22 font-size=%2290%22&gt;🧑‍🚀&lt;/text&gt;&lt;/svg&gt;"
    />

    <title>Les Onironautes — Le Rêve Improvisé</title>
    <meta property="og:site_name" content="Les Onironautes" />
    <meta property="og:title" content="La troupe d’impro les Onironautes" />
    <meta property="og:url" content="http://onironautes.fr/" />
    <meta property="og:image" content="/images/posters/reve-improvise.jpg" />
    <meta
      name="description"
      content="Onironautes est une troupe d’improvisation théâtrale à Paris qui fait des Dreamform une fois par mois"
    />
  </head>
  <body>
    <header class="dream">
      <h1 class="dream__title">
        <span class="dream__line dream__line--1"><span
          class="dream__the">Les</span></span>
        <span class="dream__line dream__line--2"><span
          class="dream__letter dream__letter--O">O</span><span
          class="dream__letter dream__letter--n">n</span><span
          class="dream__letter dream__letter--i">i</span><span
          class="dream__letter dream__letter--r">r</span><span
          class="dream__letter dream__letter--o">o</span></span><span
          class="dream__line dream__line--3"><span
          class="dream__letter dream__letter--n2">n</span><span
          class="dream__letter dream__letter--a">a</span><span
          class="dream__letter dream__letter--u">u</span><span
          class="dream__letter dream__letter--t">t</span><span
          class="dream__letter dream__letter--e">e</span><span
          class="dream__letter dream__letter--s">s</span></span>
      </h1>
      <img
        src="images/dream/flower1.png"
        alt="🌺"
        class="dream__img dream__img--flower1"
        width="63"
        height="67"
        loading="lazy"
      />
      <img
        src="images/dream/moon.png"
        alt="🌕"
        class="dream__img dream__img--moon"
        width="78"
        height="79"
        loading="lazy"
      />
      <img
        src="images/dream/flower2.png"
        alt="🌸"
        class="dream__img dream__img--flower2"
        width="30"
        height="44"
        loading="lazy"
      />
      <img
        src="images/dream/cloud1.png"
        alt=""
        class="dream__img dream__img--cloud1b"
        width="38"
        height="27"
        loading="lazy"
      />
      <img
        src="images/dream/pink-suit.png"
        alt="🧑‍🚀"
        class="dream__img dream__img--pink-suit"
        width="106"
        height="101"
        loading="lazy"
      />
      <img
        src="images/dream/helmet.png"
        alt=""
        class="dream__img dream__img--helmet"
        width="23"
        height="22"
        loading="lazy"
      />
      <img
        src="images/dream/cloud2.png"
        alt=""
        class="dream__img dream__img--cloud2"
        width="118"
        height="81"
        loading="lazy"
      />
      <img
        src="images/dream/cloud2.png"
        alt=""
        class="dream__img dream__img--cloud2b"
        width="118"
        height="81"
        loading="lazy"
      />
      <img
        src="images/dream/baloon1.png"
        alt="🎈"
        class="dream__img dream__img--baloon1"
        width="22"
        height="35"
        loading="lazy"
      />
      <img
        src="images/dream/baloon2.png"
        alt=""
        class="dream__img dream__img--baloon2"
        width="82"
        height="100"
        loading="lazy"
      />
      <img
        src="images/dream/cloud1.png"
        alt="☁️"
        class="dream__img dream__img--cloud1"
        width="37"
        height="27"
        loading="lazy"
      />
      <img
        src="images/dream/fish.png"
        alt="🐟"
        class="dream__img dream__img--fish"
        width="48"
        height="38"
        loading="lazy"
      />
      <img
        src="images/dream/paper-bird.png"
        alt="🐤"
        class="dream__img dream__img--paper-bird"
        width="78"
        height="62"
        loading="lazy"
      />
      <h2 class="dream__subtitle">Le Rêve Improvisé</h2>
    </header>

    <div class="pairs">
      <div class="pairs__text">
        <h2 class="title">Dreamform</h2>
        <p>
          Un spectacle vivant entièrement improvisé, inspiré par le public,
          pour vous emporter dans le monde des rêves.
        </p>

        <p>
          Venez nous voir nous mêler onirisme et théâtre d’impro !
        </p>
      </div>
      <div class="pairs__illustration">
        <img
          src="images/dream/flower1.png"
          alt="🌺"
          class="pairs__img pairs__img--flower1"
          width="63"
          height="67"
          loading="lazy"
        />
      </div>
    </div>

    <div class="large-video-container">
      <video
        controls
        poster="/images/shows/dreamform-2023.png"
        class="large-video"
      >
        <source src="/videos/dreamform-2023.webm" type="video/webm">
        <source src="/videos/dreamform-2023.mp4" type="video/mp4">
      </video>
    </div>

    <div class="large-content">
      <h2 class="title">Prochaines dates</h2>

      <% events.group_by(&:year).each do |year, year_events| %>
        <h3
          class="<%=
            [
              "year",
              ("year--past" if year.to_i < Time.now.year ),
            ].compact.join(" ")
          %>"
        >
          <%= year %>
        </h3>

        <% year_events.each do |event| %>
          <details
            class="<%=
              [
                "event",
                ("event--cancelled" if event.cancelled?),
              ].compact.join(" ")
            %>"
            <%= "data-event" unless event.cancelled? %>
          >
            <summary>
              <time data-event-time datetime="<%= event.iso_datetime %>">
                <% if event.cancelled? %>
                  <del>
                <% end %>

                <strong class="event__date">
                  <%= event.day_of_the_week_name %>
                  <%= event.day %>
                  <%= event.month_name %>
                </strong>
                <%= event.time %>

                <% if event.cancelled? %>
                  </del>
                <% end %>
              </time>
            </summary>

            <div class="event__grid">
              <% if event.image && !event.cancelled? %>
                <div class="event__illustration">
                  <img
                    src="/images/<%= event.image %>"
                    width="200"
                    height="200"
                    alt=""
                  />
                </div>
              <% end %>

              <div class="event__details">
                <% if event.cancelled? %>
                  <p>
                    <em>Date annulée.</em>
                  </p>
                <% else %>
                  <p>
                    <%= event.name %>
                    <%= event.location_prefix %><a
                      href="<%= event.location_url %>"
                      rel="external noopener noreferrer"
                    ><%= event.location_name %></a>.
                  </p>
                  <p>
                    <%= event.address %>

                    <a
                      href="<%= event.map_url %>"
                      rel="external noopener noreferrer"
                      class="event__directions"
                    ><svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="20"
                      height="20"
                      viewBox="0 -960 960 960"
                      fill="currentColor"
                      aria-label="📍"
                    >
                      <path
                        d="M480-480q33 0 56.5-23.5T560-560q0-33-23.5-56.5T480-640q-33 0-56.5 23.5T400-560q0 33 23.5 56.5T480-480Zm0 294q122-112 181-203.5T720-552q0-109-69.5-178.5T480-800q-101 0-170.5 69.5T240-552q0 71 59 162.5T480-186Zm0 106Q319-217 239.5-334.5T160-552q0-150 96.5-239T480-880q127 0 223.5 89T800-552q0 100-79.5 217.5T480-80Zm0-480Z"
                      />
                    </svg></a>
                  </p>
                  <p>
                    <em><%= event.entry %></em>
                  </p>

                  <add-to-calendar-button
                    name="<%= event.calendar_name %>"
                    description="<%= event.calendar_button_description %>"
                    startDate="<%= event.iso_date %>"
                    startTime="<%= event.start_at %>"
                    endTime="<%= event.end_at %>"
                    timeZone="Europe/Paris"
                    location="<%= event.location_name %>, <%= event.address %>"
                    options="'Google','Apple','Outlook.com','Yahoo','iCal'"
                    trigger="click"
                    styleLight="--btn-border: transparent; --btn-background: white"
                    size="4"
                    label="Ajouter à mon calendrier"
                    lightMode="bodyScheme"
                    language="fr"
                    inline
                  ></add-to-calendar-button>

                  <% if event.url %>
                    <p>
                      <a
                        href="<%= event.url%>"
                        rel="external noopener noreferrer"
                        class="event__link"
                      >
                        Voir sur <%= event.url_domain %>
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="16"
                          height="16"
                          viewBox="0 0 24 24"
                          fill="currentColor"
                        >
                          <path
                            d="M19.98 2.99a1 1 0 0 0-.11.01H15a1 1 0 1 0 0 2h2.586l-9.293 9.293a1 1 0 1 0 1.414 1.414L19 6.414V9a1 1 0 1 0 2 0V4.127a1 1 0 0 0-1.02-1.137M5 3c-1.093 0-2 .907-2 2v14c0 1.093.907 2 2 2h14c1.093 0 2-.907 2-2v-6a1 1 0 1 0-2 0v6H5V5h6a1 1 0 1 0 0-2z"
                          />
                        </svg>
                      </a>
                    </p>
                  <% end %>
                <% end %>
              </div>
            </div>
          </details>
        <% end %>
      <% end %>
    </div>

    <div class="pairs">
      <div class="pairs__text">
        <h2 class="title">
          Les Onironautes
        </h2>
        <p>

          Les Onironautes — anciennement <em>Folie Douze</em> et
          <em>Certifiés Non Conforme</em> — est une troupe d’improvisation
          théâtrale à Paris qui joue le format <em>DreamForm</em>
          pour relier vos rêves au théâtre d’impro
          mais également des matchs, des « 30 » et des cabarets d’improvisation.
        </p>
        <p>
          Contactez-nous à
          <a href="mailto:bonsoir@onironautes.fr">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="30"
              height="20"
              viewBox="0 -960 960 960"
              fill="currentColor"
            >
              <title>✉️</title>
              <path
                d="M160-160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800h640q33 0 56.5 23.5T880-720v480q0 33-23.5 56.5T800-160H160Zm320-280L160-640v400h640v-400L480-440Zm0-80 320-200H160l320 200ZM160-640v-80 480-400Z"
              />
            </svg>bonsoir@onironautes.fr</a>.
        </p>
      </div>
      <div class="pairs__illustration">
        <img
          src="images/dream/flower2.png"
          alt="🌸"
          class="pairs__img pairs__img--flower2"
          width="30"
          height="44"
          loading="lazy"
        />
      </div>
    </div>

    <div class="pairs">
      <div class="pairs__illustration">
        <img
          src="images/dream/cloud1.png"
          alt="☁️"
          class="pairs__img pairs__img--cloud1"
          width="38"
          height="27"
          loading="lazy"
        />
      </div>
      <div class="pairs__text">
        <h2 class="title">
          Suivez-nous
        </h2>
        <p>
          Suivez nos aventures sur Instagram
          <a
            href="https://www.instagram.com/oniro.nautes/"
            rel="external noopener noreferrer"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="-165 -165 1000 1000"
              fill="currentColor"
            >
              <title>📷</title>
              <path
                d="M335.055 1.678c-90.996 0-102.406.386-138.143 2.017-35.663 1.626-60.02 7.29-81.33 15.573-22.034 8.562-40.72 20.02-59.346 38.646C37.61 76.54 26.152 95.227 17.59 117.26c-8.283 21.31-13.947 45.668-15.574 81.33C.386 234.327 0 245.737 0 336.733c0 90.995.385 102.405 2.016 138.142 1.627 35.663 7.29 60.02 15.574 81.33 8.562 22.034 20.02 40.72 38.646 59.347 18.627 18.627 37.312 30.083 59.345 38.646 21.315 8.282 45.67 13.946 81.334 15.573 35.737 1.63 47.147 2.02 138.143 2.02 90.995 0 102.405-.387 138.142-2.017 35.66-1.626 60.02-7.29 81.33-15.572 22.032-8.562 40.717-20.02 59.345-38.645 18.627-18.628 30.084-37.313 38.646-59.346 8.28-21.313 13.947-45.67 15.573-81.33 1.63-35.74 2.017-47.15 2.017-138.144 0-90.996-.388-102.406-2.02-138.143-1.625-35.662-7.29-60.02-15.572-81.33-8.563-22.033-20.02-40.72-38.647-59.346-18.626-18.627-37.31-30.084-59.343-38.646-21.312-8.28-45.67-13.946-81.33-15.572C437.46 2.068 426.05 1.68 335.054 1.68zm0 60.37c89.462 0 100.06.342 135.39 1.954 32.667 1.49 50.408 6.948 62.215 11.537 15.64 6.075 26.8 13.335 38.524 25.06 11.726 11.724 18.986 22.886 25.064 38.525 4.59 11.807 10.047 29.548 11.537 62.215 1.612 35.33 1.953 45.93 1.953 135.39 0 89.465-.34 100.06-1.953 135.39-1.49 32.67-6.948 50.41-11.537 62.217-6.078 15.64-13.338 26.8-25.064 38.525-11.723 11.725-22.885 18.986-38.524 25.064-11.807 4.588-29.548 10.046-62.215 11.536-35.325 1.612-45.92 1.954-135.39 1.954-89.47 0-100.065-.342-135.39-1.954-32.67-1.49-50.41-6.948-62.216-11.536-15.64-6.078-26.804-13.34-38.528-25.064C87.2 561.14 79.938 549.978 73.86 534.338c-4.588-11.806-10.046-29.547-11.536-62.215-1.613-35.33-1.954-45.927-1.954-135.39s.34-100.06 1.954-135.39c1.49-32.668 6.948-50.41 11.536-62.216 6.078-15.64 13.34-26.8 25.063-38.524 11.725-11.726 22.886-18.986 38.526-25.064 11.803-4.59 29.544-10.05 62.212-11.54 35.33-1.613 45.927-1.955 135.39-1.955m.003 386.372c-61.683 0-111.685-50.002-111.685-111.684 0-61.682 50.002-111.685 111.685-111.685 61.68 0 111.684 50.003 111.684 111.685s-50.006 111.684-111.687 111.684zm0-283.74C240.03 164.677 163 241.71 163 336.734c0 95.024 77.03 172.055 172.055 172.055 95.023 0 172.054-77.03 172.054-172.057 0-95.024-77.034-172.055-172.057-172.055m219.06-6.798c0 22.206-18 40.206-40.206 40.206-22.205 0-40.206-18-40.206-40.206 0-22.205 18.004-40.207 40.21-40.207s40.206 18.002 40.206 40.207" />
            </svg><span
              class="linkon__text"
            >oniro.nautes</span></a>
          et écrivez-nous un commentaire sur <a
            href="https://www.billetreduc.com/358984/evt.htm"
            rel="external noopener noreferrer"
          >Billet Réduc’</a>.
        </p>
      </div>
    </div>

    <div class="outro">
      <img
        src="images/dream/baloon-astronaut.png"
        alt="🧑‍🚀"
        class="outro__astronaut"
        width="316"
        height="368"
        loading="lazy"
      />
      <img
        src="images/dream/moon.png"
        alt="🌕"
        class="outro__moon"
        width="100"
        height="100"
        loading="lazy"
      />
    </div>
  </body>

  <script src="/scripts/onironautes.js?v2" async defer></script>
  <script
    src="https://cdn.jsdelivr.net/npm/add-to-calendar-button@2"
    async
    defer
  ></script>
</html>
